body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #27ae60;
    color: #fff;
    padding: 1em;
    text-align: center;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #27ae60;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
section {
    margin-bottom: 40px;
}
footer {
    background-color: #27ae60;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* SCroll Bar */
::-webkit-scrollbar {
    width: 10px; 
  }
  ::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, rgb(23, 255, 0));
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(255, 0, 0), transparent); 
    transition: background 1s ease;
  }