body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to right, rgb(0, 0, 0), rgb(40, 40, 196));
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.signup-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 01);
    width: 300px;
}
  .signup-container:hover {
      background: linear-gradient(to right, rgb(117, 11, 11), green);
}
  .signup-container h2 {
    text-align: center;
    color: #e93636;
}
  .signup-form {
    display: flex;
    flex-direction: column;
}
  .form-group {
    margin-bottom: 15px;
}
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}
  .form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  .form-group button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  .form-group button:hover {
    background-color: #45a049;
}
/* SCroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-track {
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, rgb(23, 255, 0)); /* Thumb color */
    border-radius: 6px; /* Roundness of the thumb */
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgb(255, 0, 0), transparent); /* Thumb color */
    /* background: rgb(255, 0, 0);  */
    transition: background 1s ease;
}